
*{
    background: rgb(248, 221, 184);
    font-size: 16px;
    font-family: sans-serif;
}
.table-css{
    color: rgb(10, 6, 5);
    padding: 10px; 
    width: 600px;
    border-collapse: collapse;
}
.tabel-row{
    padding: 20px; 
    margin: 0px;
    line-height: 30px;
    font-size: 20px;
      
}
.tabel-row-products{
    align-items: center;    
}

.container{
    width: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    display: flex;
    flex-wrap: nowrap;
    
}
.container-item{
    padding-top: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    /* margin-bottom: 10px; */
    padding-bottom: 5rem;
}
.container-pic{
    padding-left: 10px;
    width: 200px;
}
.container-table{
    width: 800px;
}
.container-btn{
    width: 110px;
}
.print-btn{
    background-color: rgb(237, 123, 70);
    border: none;
    width: 70px;
    line-height: 25px;
    color: aliceblue;
    font-size: 18px;
    border-radius: 5px;
    font: 16px arial,sans serif;
    padding: 5px;
    text-transform: capitalize;
}

@media print{
    .print-btn, img{
        display: none;
    }
}

.print-btn:hover{
    cursor: pointer;
}
.image-available{
    width:70px
}
.image-available:hover{
    cursor: pointer;
}
.hidden-div{
    padding: 1rem;
    font: 18px arial black,sans-serif;
    color: rgb(237, 123, 70);
    text-align: center;
}
