.message{
    padding: 1rem;
    background-color: rgba(237, 123, 71, 0.8);
    position: absolute;
    top: 1rem;
    right: 2rem;
    box-shadow: 0px 0px 5px -1px black;
    color: antiquewhite;
    font: 18px arial black,sans serif;
    border-radius: 2px;
}
.message .close{
    color: rgb(237, 123, 70);
    background-color: white;
    padding: 2px;
    border-radius: 2px;
    position: absolute;
    top: 1rem;
    right: 1rem;
    margin-bottom: 3px;
    width: 25px;
    text-decoration: none;
}
.message .contes{
    padding: 1rem;
    margin-right: 2rem;
}
.color{
    color: grey;
}
.color2{
    color: rgb(100, 100, 100);
}
.color3{
    color: rgb(237, 123, 70);
}
.mright{
    margin-right: 4rem;
    padding: 5px;
}
.mleft{
    margin-left: 4rem;
    padding: 5px;
}
.padd-left{
    padding-left: 1rem;
}
.padd-right{
    padding-right: 1rem;
}
.w2{
    width: 200px;
}
.small{
    font-size: 12px;
}
.cl{
    padding-top: 10px;
    padding-left: 6rem;
    color: rgb(207, 103, 50);
}
.main{
    border: 0.5px solid silver;
    border-radius: 5px;
    padding: 5px;
    background-color: rgba(219, 219, 219, 0.952);
    font-family: sans-serif;
}
.head{
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
}
.head img{
    padding: 5px;
    margin-right: 2rem;
}
.head img:hover{
    background-color: rgba(238, 236, 235, 0.8);
}
.list{
    border-top: 1px solid silver;
    padding: 1rem;
    background-color: aliceblue;
}
.li{
    width: 98%;
    display: flex;
    background-color: rgba(236, 233, 231, 0.8);
    border-left: 0.5px solid silver;
    border-right: 0.5px solid silver;
    border-bottom: 0.5px solid silver;
    padding: 10px;
}
.top{
    border-radius: 5px 5px 0px 0px;
    border-top: 0.5px solid silver;
}
.bottom{
    border-radius: 0px 0px 5px 5px;
}
.form{
    width: 98%;
    background-color: rgba(238, 236, 235, 0.938);
    border: 0.5px solid silver;
    padding: 10px;
    border-radius: 5px;
}
.form .input-field{
    display: flex;
    padding: 0px;
    background-color: rgba(255, 255, 255, 0.752);
    padding: 15px;
    border-bottom: 0.5px dashed silver;
}
.form .input-field input, .form .input-field select{
    border: 0.5px solid silver;
    border-radius: 5px;
    padding: 10px;
    color: rgb(70, 69, 69);
    outline-color: silver;
    background-color: rgb(238, 236, 235);
    font-family: monospace;
    width: 600px;
    box-sizing: border-box;
}
.form .input-field input[type=submit]{
    background-color: rgb(237, 123, 70);
    color: aliceblue;
    width: 300px
}
.form .input-field input:focus{
    background-color: rgb(201, 195, 191);
}
.form .input-field label{
    padding: 10px;
    width: 300px;
    font-family: arial;
    font-size: 14px;
}
body{
    background-color: rgb(238, 236, 235);
}
.button{
    color: rgb(237,123,70);
    padding: 3px;
    border: 0.5px solid silver;
    border-radius: 5px 5px 0px 0px;
    width: 30px;
    text-align: center;
    font-size: 10px;
}
.button:hover{
    background-color: silver;
}
.color{
    color: grey;
}
.color2{
    color: rgb(100, 100, 100);
}
.color3{
    color: rgb(237, 123, 70);
}
