.main{
    border: 0.5px solid silver;
    border-radius: 5px;
    padding: 5px;
    background-color: rgba(219, 219, 219, 0.952);
    font-family: sans-serif;
}
.color{
    color: grey;
}
.color2{
    color: rgb(100, 100, 100);
}
.color3{
    color: rgb(237, 123, 70);
}
.head{
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
}
.head img{
    padding: 5px;
    margin-right: 2rem;
}
.head img:hover{
    background-color: rgba(56, 28, 12, 0.8);
}
.boxes{
    display: flex;
    border-top: 1px solid silver;
    padding: 1rem;
    background-color: aliceblue;
}
.part{
    border: 0.1px solid silver;
    margin-right: 5px;
    background-color: rgba(219, 219, 219, 0.952);
    border-radius: 5px;
    height: 400px;
}
.part .banner{
    border-radius: 5px 5px 0px 0px;
    padding: 15px;
    font-size: 14px;
    background-color: rgb(56, 28, 12);
    color: white;
    font-family: arial black,sans-serif;
    display: flex;
}
.part .banner img{
    margin-right: 2rem;
}
.part .detail{
    font: 60px arial black,sans-serif;
    padding: 4rem;
    color: rgb(56, 28, 12);
}
.list{
    border-top: 1px solid silver;
    padding: 1rem;
    background-color: aliceblue;
}
.li{
    width: 98%;
    display: flex;
    background-color: rgba(240, 240, 240, 0.8);
    border-left: 0.5px solid silver;
    border-right: 0.5px solid silver;
    border-bottom: 0.5px solid silver;
    padding: 10px;
}
.top{
    border-radius: 5px 5px 0px 0px;
    border-top: 0.5px solid silver;
}
.bottom{
    border-radius: 0px 0px 5px 5px;
}
.li img{
    padding: 6px
}
.li .li-detail{
    padding: 6px;
    background-color:transparent;
    width: 100%;
    border-left: 0.5px solid silver;
    padding-left: 1rem;
}
.li .li-detail a{
    color: rgb(112, 110, 108);
    font-size: 15px;
    text-decoration: none;
}
.li .li-detail a:hover{
    color: rgb(73, 44, 15);
    /* font-weight: bold; */
}
.mright{
    margin-right: 4rem;
    padding: 5px;
}
.mleft{
    margin-left: 4rem;
    padding: 5px;
}
.padd-left{
    padding-left: 1rem;
}
.padd-right{
    padding-right: 1rem;
}
.w2{
    width: 200px;
}
.small{
    font-size: 12px;
}
.medium{
    font-size: 14px;
}
.cl{
    padding-top: 10px;
    padding-left: 6rem;
    color: rgb(207, 103, 50);
}
table{
    width: 100%;
    border-collapse: collapse;
    border-color: silver;
    border-radius: 3px;
}
table td, table th{
    padding: 5px;
}
table thead{
    background-color: rgb(219, 218, 218);
}
.print-btn{
    background-color: rgb(73, 44, 15);
    color: antiquewhite;
    border-radius: 5px;
    padding: 5px;
    border: 0.5px solid silver;
    margin-left: 40rem;
}
.foot{
    display: none;
    margin-top: 2rem;
    padding: 2rem;
    border-top: 1px solid silver;
}
@media print{
    .no{display: none;}
    *{color: rgb(80, 79, 79);}
    .foot{
        display: block;
    }
    .main{
        border: none;
    }
}
.font2{
    font: 35px arial black,sans-serif;
    padding-top: 2rem;
}
.font1{
    font: 25px arial black,sans-serif;
    padding-top: 1rem;
}